{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section>
    
    <h1 class="text-center font-bold text-3xl mt-8">Sandwiches</h1>
    <hr class="my-12 border-t-4 border-orange-600 mx-36 md:mx-36">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl px-10">
        {% for sandwiche in sandwiches %}
        <div class="border border-black rounded-lg shadow-md ">
            <h5 class="px-4 py-2 text-white font-semibold text-3xl text-center">{{ sandwiche.nombre }}</h5>
            <div class="p-4  font-semibold text-xl" >
                <p class="text-black">{{ sandwiche.descripcion }}</p>
                <p class="text-black mt-4 text-right">Precio: ${{ sandwiche.precio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>
    
    <h1 class="text-center font-bold text-3xl mt-8">Hamburguesas</h1>
    <hr class="my-12 border-t-4 border-orange-600 mx-36 md:mx-36">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl px-10">
        {% for hamburguesa in hamburguesas %}
        <div class="border border-black rounded-lg shadow-md ">
            <h5 class="px-4 py-2 text-white font-semibold text-3xl text-center">{{ hamburguesa.nombre }}</h5>
            <div class="p-4  font-semibold text-xl" >
                <p class="text-black">{{ hamburguesa.descripcion }}</p>
                <p class="text-black mt-4 text-right">Precio: ${{ hamburguesa.precio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>
    <h1 class="text-center font-bold text-3xl mt-8">Tapeos</h1>
    <hr class="my-12 border-t-4 border-orange-600 mx-36 md:mx-36">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl px-10">
        {% for tapeo in tapeos %}
        <div class="border border-black rounded-lg shadow-md ">
            <h5 class="px-4 py-2 text-white font-semibold text-3xl text-center">{{ tapeo.nombre }}</h5>
            <div class="p-4  font-semibold text-xl" >
                <p class="text-black">{{ tapeo.descripcion }}</p>
                <p class="text-black mt-4 text-right">Precio: ${{ tapeo.precio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}