{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section>
    <h1 class="text-center font-bold text-3xl mt-8">Cafeteria</h1>
    <hr class="my-12 border-t-4 border-orange-600 mx-36 md:mx-36">
    <p class="text-left text-xl my-12 mx-36">Opcional,<strong> leche de almendra</strong> </p>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl px-10">
        {% for cafe in cafeteria %}
        <div class="border border-black rounded-lg shadow-md ">
            <h5 class="px-4 py-2 text-white font-semibold text-3xl text-center">{{ cafe.nombre }}</h5>
            <div class="p-4  font-semibold text-xl" >
                <p class="text-black">{{ cafe.descripcion }}</p>
                <p class="text-black mt-4 text-right">Precio: ${{cafe.precio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}

