{% load static %}
{% block info_lugar %}
<div id="contact" class="bg-cover bg-center bg-no-repeat py-16 md:py-16" style="background-image: url('static/image/bgg.png')">
    
    <div class="bg-cover bg-center bg-no-repeat py-16 md:py-16">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl md:text-3xl font-bold mb-4 text-center text-orange-500 bg-white py-2 px-4 rounded-lg shadow-lg">Horario de Atención</h2>
            <hr class="mt-6 border-t-2 border-orange-500 mx-20">
            <div class="text-2xl md:text-xl text-center font-bold text-gray-100 mt-6">
                <p>Lun. a Vie.: 8:00 - 20:00</p>
                <p>Sáb. y Dom.: 9:00 - 20:30</p>
                <p class="text-xl md:text-2xl text-white pt-6 mx-2">Para más reservas o pedidos</p>
                <p class="text-2xl md:text-2xl text-white"> 02266 41-7401</p>
            </div>
            <br>
            <div class="bg-primary-500 py-4 md:py-20">
                <div class="container mx-auto px-5">
                    <div class="flex flex-col items-center">
                        <div class="max-w-sm bg-gray-100 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mx-auto">
                            <a href="https://www.google.com/maps/@-37.8182711,-58.2211253,304m/data=!3m1!1e3?entry=ttu">
                                <img class="rounded-t-lg" src="{% static 'image/lugardos.jpg' %}" alt="Ubicacion" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cruce de ruta 226 y 55</h5>
                                </a>
                                <p class="text-center mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">📍Balcarce.</p>
                                <a href="https://www.google.com/maps/@-37.8182711,-58.2211253,304m/data=!3m1!1e3?entry=ttu" target="_blank" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">UBICACION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary-500">
        <div class="container mx-auto px-4">
            <div class="flex flex-col items-center">
                <p class="text-xl font-semibold md:text-2xl mb-4 text-white text-center px-4">Si queres mas informacion y mantenerte al dia de lo que te ofrecemos, seguinos en:</p>
                <div class="flex flex-col items-center mb-8">
                    <a href="https://www.facebook.com/people/Don-Jota/100076275163536/" target="_blank" class="bg-gradient-to-r from-blue-500 to-blue-600 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg inline-block mb-4">FACEBOOK</a>
                    <a href="https://www.instagram.com/donjotacafe/" target="_blank" class="bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg inline-block">INSTAGRAM</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4">
        <hr class="mt-6 border-t-2 border-gray-800 mx-40">
        <div class="max-w-md mx-auto mt-10 p-6">
            <h2 class="text-2xl font-bold mb-6 text-center">CONTACTO</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-md" placeholder="Nombre" required>
                </div>
                <div class="mb-4">
                    <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-md" placeholder="Email" required>
                </div>
                <div class="mb-4">
                    <label for="message" class="block text-white text-sm font-bold mb-2">Mensaje</label>
                    <textarea id="message" name="message" class="w-full px-3 py-2 border rounded-md" placeholder="Escribe tu mensaje aquí, sobre cualquier duda o consulta" rows="4" required></textarea>
                </div>
                <div class="flex justify-center pt-4"> <!-- Agregamos un contenedor flex para centrar horizontalmente -->
                    <button type="submit" class= "bg-orange-500 hover:bg-red-700  text-white font-bold py-4 px-4 rounded-lg inline-block">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </div>
    <img src="{% static 'image/logo.png' %}" alt="Logo DonJota" class="w-32 md:w-32 mt-20 mx-auto mb-1">
    <p class="mb-8 text-lg font-semibold text-center text-gray-50  lg:text-xl sm:px-24 lg:px-56">Te esperamos!..</p>
</div>

{% endblock info_lugar %}